@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #64CCC5, #F4EEEE);
  padding-bottom: 2rem;
}

img {
  width: 200px;
  object-fit: cover;
  filter: brightness(.9);
  animation: move .5s ease;
}

.sun, .snow, .rain {
  display: none;
}

.container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 90%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 10px;
  color: #016A70;
  box-shadow: 0 0 20px #016A70;
}

.temp-container {
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  background-color: #016a7027;
  padding: .4rem .6rem;
  border-radius: 4px;
  color: #016A70;
  outline: none;
  font-size: 15px;
}

@keyframes move {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.container:hover {
  animation: abc 5s linear infinite;
}

@keyframes abc {
  0% { transform: scale(1); }
  20% { transform: scale(0.95) rotate(-2deg); }
  50% { transform: scale(1.05) rotate(2deg); }
  80% { transform: scale(0.98) rotate(-1deg); }
  100% { transform: scale(1) rotate(0); }
}
